{% extends 'layout.html'%}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/ratio/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                添加新类型与对应的净残值率
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                预计净残值率列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">编号</th>
                    <th class="text-center">设备类型</th>
                    <th class="text-center">操作预计净残值率</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in ratio_list %}
                    <tr>
                        <th class="text-center">{{ obj.id }}</th>
                        <th class="text-center">{{ obj.Type }}</th>
                        <td class="text-center">{{ obj.Ratio }}</td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-xs" href="/ratio/{{ obj.id }}/edit">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/ratio/{{ obj.id }}/del">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}